
/* navigation */

body > nav{
    display: flex;
}

body > nav li{
    /*flex: 1;*/
}
 
/* grid */

body {
    background-color: rgb(236, 236, 236);
    margin: 0 auto;
    max-width: 60em;
    min-width: 60em;
  
    display: grid;
}

body > header {
    grid-area: 1 / 1 / span 1 / span 2;
}

body > nav {
    grid-area: 2 / 1 / span 1 / span 2;
}

body > section {
    grid-area: 3 / 1;
    width: 40em;
}

body > aside {
    grid-area: 3 / 2;
    min-width: 20em;
    max-width: 20em;
    /*position: fixed;
    z-index: 1;
    top: 12em;
    right: 12.5em;
    overflow-x: hidden;*/

}

body > footer {
    grid-area: 4 / 1 / span 1 / span 2;
}


/* login */




/* search bar */

body header #searchBar #searchform{
    float: right;
}