/* fonts  */  


body {
    font-family: 'Verdana', sans-serif;
}

p {
    font-family: "Georgia", serif;
    line-height: 1.4em;
}
  
header h2 {
    font-size: 1em;
}
  
header a {
    font-size: 0.8em;
}
  
/* all a */

a {outline : none;}

/* header */

body > header {
    background-image: linear-gradient(to bottom, #2a9fff, #195f8d);
    /*background-color: #2a9fff;*/
    padding: 1em;
    border-bottom: 1px solid white;
  }

body > header h1, body > header h2{
    margin: 0;
}

body > header h1 a:hover{
    color: white;
    transition: 0.4s;
}
  
body > header a {
    color: black;
    text-decoration: none;  
}

body > header div#signup div#signupButtons{
    display: grid;
    float: left;
}

body > header div#signup div button:first-of-type, body > header div#signup div button:nth-of-type(2){
    background-color: rgb(255, 255, 255);
    margin: 0.25em 0 0.25em 0;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    border-radius: 0.3em;
    border-color: black;
    border-style: solid;
}

body > header div#signup div button:first-of-type:hover, body > header div#signup div button:nth-of-type(2):hover{
    background-color: black;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}

body > header div#signup > div a{
    padding: 0.6em;
    color:black;
    width:100%;
    height:100%;
    font-size: 1em;
    text-align: center;
}

body > header div#session{
    display: grid;
    float: left;
}

body > header div#session > div img{
    border-radius: 0.3em;
    grid-auto-columns: 2 / 1;
}

body > header div#session > div a{
    color:black;
    width:100%;
    height:100%;
    font-size: 1em;
    text-decoration: none;
}

#session > div:first-of-type a{
    text-align: center;
    vertical-align: 0.2em;
}


#session > div:first-of-type a:hover{
	color: white;
    transition: 0.4s;
}

#session > div:nth-of-type(2){
    margin: 0.4em 0 0 0;
}

#session > button{
    background-color: rgb(255, 255, 255);
    margin: 0.25em 0 0.25em 0;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    border-radius: 0.3em;
    border-color: black;
    border-style: solid;
}

#session > button:hover{
    background-color: black;
	color: white;
    transition: 0.4s;
    /*border: 1px solid white;*/
}


/* navigation */
  
  
#menu {
    background-color: white;
    text-align: center;
    list-style-type: none;
}
  
#menu a{
    color: black;
	text-decoration: none;
	padding: 1em 0;
    flex-grow: 0.35;
}
  

#menu a:hover {
	color: white;
	background-color: #1c6799;
	transition: 0.25s;
}

/* stories content */

#stories_content > div {
    background-color: white;
    border: 0.4px solid white;
    border-radius: 0.2em;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
} 

#stories_content > div:hover {
    border-radius: 0.2em;
    border: 0.4px solid #2a2f33;
    cursor: pointer;
} 

#stories_content > div > a {
    text-decoration: none;
    color: black;
}

#stories_content > div > a:first-of-type {
    font-size: 1.5em;
    color: black;
}

#stories_content > div > a:first-of-type:hover {
    color: #373b3d;
}

#stories_content .author {
    display: grid;
    grid-template-columns: auto auto;
    float: left;
}

#stories_content .author img{
    border-radius: 0.3em;
}

#stories_content .author a{
    text-decoration: none;
    color: black;
    padding: 0.25em 1em 0 1em;
}



#stories_sec #stories_content h1{
    margin: 0em;
    padding: 0 0 1em 0;
}

#stories_sec #stories_content > div > p:nth-of-type(2) {
    border-top: 1px solid black;
    padding-top: 0.5em;
}



/* home content */

body > section#home_content > article {
    padding: 1em;
    margin: 1em 0 1em 1em;
    background-color: white;
    border-radius: 0.2em;
} 

body > section#home_content > article h1 {
    margin: 0.5em 0;
} 


/* comments content */

#stories_sec #comments_content > a:first-of-type {
    font-size: 1.5em;
    color: black;
    margin: 1em 0 0 1em;
}

#stories_sec #comments_content > a:nth-of-type(2) {
    font-size: 1em;
    color: black;
    margin: 1em;
    padding: 1em;
}

.comments  {
    padding: 1em 0 1em 1em;
} 

.comments > div {
    padding: 1em;
    border-color: black;
    border-style: dashed;
    border-width: 0.1em;
    border-radius: 0.3em;
    background-color: rgb(188, 220, 247);
} 

#comments_content .author a{
    text-decoration: none;
    color: black;
    padding: 0em 1em 0 0.5em;
    vertical-align: 0.2em;
}

#comments_content .reply{
    cursor:pointer;
    margin: 1em 0 0 0;
    font: bold;
    color: #2909db;
}

#comments_content .comments > div > p:nth-of-type(2) {
    border-top: 1px solid black;
    padding-top: 0.5em;
}

#comments_content div#no_com{
    margin: 0em 2em 2em 2em;
}

/* aside */

body > aside{
    text-align: center;
}

body > aside a{
    
    text-decoration: none;
}

body > aside div#create_post{
    margin: 1em;
    padding: 1em;
    background-color: #1f89e0;
    cursor: pointer;
    border-radius: 0.2em;
}

body > aside div#create_post:hover {
    background-color: #2a9fff;
    cursor: pointer;
}

body > aside div#create_post > a{
    color: white;
}

#links #home{
    margin: 1em;
    padding: 1em;
    background-color: rgb(243, 243, 243);
    border: 1px solid #1f89e0;
    cursor: pointer;
    border-radius: 0.2em;
}

#links #home:hover{
    background-color: white;
    cursor: pointer;
}

#links #home > a{
    color: #1f89e0;
}

#links #top{
    margin: 1em;
    padding: 1em;
    background-color: rgb(243, 243, 243);
    border: 1px solid #1f89e0;
    cursor: pointer;
    border-radius: 0.2em;
}

#links #top:hover{
    background-color: white;
    cursor: pointer;
}

#links #top > a{
    color: #1f89e0;
}

/* footer */
  
body > footer {
    background-color: #2a2f33;
    color: white;  
    padding: 0.5em;
}
  
body > footer p {
    margin: 0;
}  

/* login/register */

body > section > form { 
    text-align: right;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
}

body > section[id='register_content'] > form, body > section[id='login_content'] > form{
    display: grid;
    grid-template-columns: auto auto;
}

body > section > form > input:nth-last-of-type(1) {
    grid-column: 2 / 2;
}

body > section > form * {
    padding: 0.3em;
    margin: 0.2em;
}

#register_content > form > input{
    width: 20em;
}

#register_content label#message{
    /*text-align: center;*/
}

/* Reply Button */
.reply{
    cursor:pointer;
    margin: 1.5em 0 0 0;
    font: bold;
    color: #2909db;
}



/* search bar */

body header #searchBar #searchform input{
    border-radius: 0.2em;
    border-style: solid;
}


/* post */

#post_content{
    margin: 1em;
    background-color: white;
}

form#postform{
    text-align: left;
    padding: 4em;
    border-radius: 0.2em;
}

#post_content form#postform div input#title_input{
    min-width: 30em;
    max-width: 30em;
    font-family: "Georgia", serif;
    line-height: 1.4em;
    margin: 0;
}

#post_content form#postform div {
    margin: 0;
    padding: 0.2em;
}

#post_content form#postform p {
    margin: 0;
    padding: 0.2em;
}

#post_content form#postform textarea#postform{
    min-width: 30em;
    max-width: 30em;
    font-family: "Georgia", serif;
    line-height: 1.4em;
}

#post_content form#postform input#post_input{
    float: right;

}


/* profile */

#activities h2{
    margin: 0 0 0 0.8em;
}

#activities div.story {
    background-color: white;
    border-radius: 0.2em;
    padding: 1em;
    margin: 1em;
} 

#activities div.story > a {
    text-decoration: none;
    color: black;
}

#activities div.story > a:first-of-type {
    font-size: 1.5em;
    color: black;
}

#activities div.story > a:first-of-type:hover {
    color: #373b3d;
}

#activities div.story > p:nth-of-type(2) {
    border-top: 1px solid black;
    padding-top: 0.6em;
}


#activities div.comment {
    margin: 1em;
    padding: 1em;
    border-color: black;
    border-style: dashed;
    border-width: 0.1em;
    border-radius: 0.3em;
    background-color: rgb(188, 220, 247);
} 

#activities div.comment a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
} 

#activities div.comment > a:first-of-type:hover {
    color: #373b3d;
}

#activities div.comment > p:nth-of-type(2) {
    border-top: 1px solid black;
    padding-top: 0.6em;
}

/*
#commentform {
    min-width: 40em;
    max-width: 40em;
}
*/

textarea {
    resize: none;
 }